*{
    font-family: Arial;
    font-size: 1em;
    color: #333333;
}
body{
    background-color: #F0F0F0;
    padding-bottom: 10px;
    overflow-x: hidden;
}
#conteudo{
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
}
#barra_acessibilidade{
    background: url("../img/acessibilidade_bg.png") repeat-x rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 10px;
}
.menu-acessibilidade{
    width: 51px;
    height: 50px;
    display: block;
    height: 48px;
    text-indent: -20000px;
}
#diminuir_fonte{
    background: url("../img/decreaseFont.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    background-size: 51px 50px;
    text-align: center;
}
#normal_fonte{
    background: url("../img/normalFont.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    background-size: 51px 50px;
    text-align: center;
}
#aumentar_fonte{
    background: url("../img/increaseFont.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    background-size: 51px 50px;
    text-align: center;
}
#topo{
    background-color: #E91100;
}
#topo .container{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#barra_do_usuario{
    margin: 1px 0 0 5px;
}
#barra_do_usuario .container{
    padding: 10px;
    background-color: #FFF;
}
.topo_info{
    color: #FFF !important; 
}
#topo h1 a{
    background: url("../img/logoHeader.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 137px;
    text-indent: -20000px;
    width: 340px;
}
#produto-destaque{
    background-color: #FFF;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 1), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 1), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    margin: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#santa-hat{
    background: url("../img/santacornerhat.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width: 128px;
    height: 128px;
    position: relative;
    float: left;
}
.in-line{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.in-line li{
    display: inline; 
}
.in-line  a {
    text-decoration: none;
    padding: .2em 1em;
    color: #666;
}
.in-line a:hover {
    text-decoration: underline;
}
#rodape {
    background: url("../img/stressed_linen.png") repeat scroll left top rgba(0, 0, 0, 0);    
    color: #FFF;
    position: relative;
    height: 20em;
}
#fechamento_rodape .container{
    background-color: #FFF;
    height: 100px;
    min-height: 100px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
}
.img-certificado{
    background-position: center !important;
}
.text-galeria-premios{
    color: transparent;
}
#galeria_premios{
    background: url("../img/icon-premio.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
#certificado_digital{
    background: url("../img/icon-certisign.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
#internet_segura{
    background: url("../img/icon-internet-segura.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
#site_blindado{
    background: url("../img/icon-site-blindado.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.bt-user-submit{
    margin-top: 25px;
}
.rotated {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}
#carrinho_de_compras{
    position: relative;
    float: left;
    margin-top: 60px;
    right: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#carrinho_de_compras .carrinho-quantidade{
    color: #FFF !important;
    font-size: 4.3em;
    font-weight: bold;
}
#carrinho_de_compras .carrinho-descricao{
    color: #FFF !important;
}