/* 
    Document   : default
    Created on : Nov 10, 2012, 12:34:52 AM
    Author     : fabricio
    Description:
        Purpose of the stylesheet follows.
*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Arial !important;
    color: #666 !important;
    font-size: 12px;
}
footer {
    background-color: #F5F5F5;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 10px;
    bottom: 0;
    position: fixed;
    z-index: 999 !important;
}
.table-tr-selected{background-color: #FCEC9C !important;}
.table-line{cursor: pointer !important}
.dialogP{width: 40% !important;}
.dialogM{width: 60% !important;}
.dialogG{width: 80% !important;}
.no-select{
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}